name: Raonson Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Навсозӣ ба v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          # Ба ҷои версияи мушаххас, 'stable'-ро истифода мебарем
          # Ин ҳамеша версияи охирини Flutter (3.24+) ва Dart-ро мегирад
          channel: 'stable'

      - name: Repair and Build
        run: |
          # Сохтани файлҳои намерасида
          flutter pub get
          flutter create . --platforms android
          
          # Сохтани файли local.properties барои пешгирии хатои Exit Code 1
          echo "sdk.dir=$ANDROID_SDK_ROOT" > android/local.properties
          echo "flutter.sdk=$FLUTTER_ROOT" >> android/local.properties
          
          # Иҷрои Build
          flutter build apk --debug  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/videos/
